img {
  max-width: 100%;
  max-height: 100%;
}

.logostyle {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.sidenav {
  height: 100%;
  width: 100%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav ul {
  height: 85%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
